/* Main Page */
* {
    font-family: tahoma, sans-serif;
}

h1.title {
    background-color: green;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}


.recipeOptions ul {
    margin: 0 auto;
}


li.recipeOptions {
    background-color: aqua;
}




/* All Subsequent Recipe Pages */
h1.recipeTitle {
    background-color: pink;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.ingredients h2 {
    background-color: paleturquoise;
}

/* i dont think i can make a selector for ul?
div.ingredients {
    margin-left: auto;
    margin-right: auto;
}
*/

.ingredients li {
    background-color: lightpink;
}

.steps h2 {
    background-color: yellow;
}

/* i dont think i can make a selector for ul?
div.steps {
    margin-left: auto;
    margin-right: auto;
}
*/

.steps li {
    background-color: orange;
}

.notes h3 {
    background-color: orangered;
}

/* i dont think i can make a selector for ul?
div.notes {
    margin-left: auto;
    margin-right: auto;
}
*/

.notes li {
    background-color: burlywood;
}

p {
    background-color: aquamarine;
}